<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>일촌신청</title>
</head>
<body>
    보내는이:{{ request.user }}<hr>
    <form action='{% url "tobefriend" receiver.pk %}' method="POST">
        {% csrf_token %}
        <span style = 'color : blue'>{{recever.full_name}}</span>님을 <span style = 'color : blue'>{{request.user}}</span>님의 
        <input type='text' name = 'r_nickname' placeholder="상대방 별명">로 <br>
        <span style = 'color : blue'>{{request.user.full_name}}</span>님을 <span style = 'color : blue'>{{recever.full_name}}</span>님의 
        <input type='text' name = 's_nickname' placeholder="나의 별명">로 <br>
        일촌맺고싶어요.<hr>
        <button type = 'submit'>일촌 신청</button>
    </form>
</body>
</html>
