{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/guest.css' %}">
{% endblock %}

{% block contents %}
<div id="main">
    <div class="subject">
        {% for diary in diary %}
        <h2><span>{{ diary.diary_title}}</span></h2>
        <span class="date">{{ diary.diary_name }}</span>
        <span class="date">{{ diary.updated_at}}</span>
        <div class="article">
            <span>{{ diary.diary_say }}</span>
        </div>
        <a href="#" id ="diary_update_delete">수정 | 삭제</a>
        <br>
        <br>
        {% endfor %}
    </div>
    <a href="{% url 'diary_create' cyuser.pk %} " id="diary_create">작성</a>
</div>
{% endblock %}