{% extends 'base.html' %}
{% load static %}

{% block contents %}
    <div id='main'>
        <div class="subject">
            <!--
            <h2><a href="#">1.첫번째 글</a></h2>
            <span class="date">2020.01.24</span>
        </div>
        <div class="article">
            첫번째 글입니다.
        </div>
        -->
            <div id="picture">
                <p>순간이 담긴 사진을 친구들과 함께 나눠보세요.</p>    
            </div>
            <div id="assorted">
                <a href="#"><span>다이어리 0/114</span></a>
                <a href="#"><span>사진첩 0/1145</span></a>
                <br>
                <a href="#"><span>게시판 0/55</span></a>
                <a href="#"><span>방명록 0/573</span></a>
            </div>
        </div>
        <div id="miniroom">
            <img src="{% static 'images/miniroom01.gif' %}"/><br>
            <a href="#"><span>▶ 내 미니룸</span></a>
            <a href="#"><span>▶ 미니룸 설정</span></a>
        </div>
        <br>
        <div class="searchList">
            <h3>최근 포스트</h3>
            <ol>
                <li>
                    <span>2012.04.21</span>
                    <a href="#">첫번째 글</a>
                    <span>7</span>
                    </li>
                </ol>
            </div>
            {% for friendsay in friendsay %}
                {% if friendsay.receiver_name == request.user %}
                <div class="friend">
            <ol>
                <td>
                    <div class="au_date">
                        <span class="author">{{ friendsay.friend_name }}</span>
                        <span id="user_birth">{{ friendsay.updated_at }}</span>
                    </div>
                    <span>{{ friendsay.friend_say }}</span> 
                </td>
                        <a href="#">삭제</a>|
                        <a href="#">댓글달기</a>
            </ol>
        </div>
            {% else %}
                
            {% endif %} 

            {% endfor %}

            <!--내 홈페이지에는 일촌평 가능 / 로그인한 유저가 나라면 -> 나와 나의일촌들의 글 보는거 가능-->

        </div>
    </div>
{% endblock %}  