{% extends 'mini_base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div id='main'>
    <div class="subject">
        <!--
        <h2><a href="#">1.첫번째 글</a></h2>
        <span class="date">2020.01.24</span>
    </div>
    <div class="article">
        첫번째 글입니다.
    </div>
    -->
        <div id="picture">
            <p>순간이 담긴 사진을 친구들과 함께 나눠보세요.</p>    
        </div>
        <div id="assorted">
            <a href="#"><span>다이어리 {{ diary.count }}</span></a>
            <a href="#"><span>사진첩 0/1145</span></a>
            <br>
            <a href="#"><span>게시판 0/55</span></a>
            <a href="#"><span>방명록 {{guestbook.count}}</span></a>
        </div>
    </div>
    <div id="miniroom">
        <img src="{% static 'images/miniroom01.gif' %}"/><br>
        <a href="#"><span>▶ 내 미니룸</span></a>
        <a href="#"><span>▶ 미니룸 설정</span></a>
    </div>
    <br>
    <div class="searchList">
        <h3>최근 포스트</h3>
        <ol>
            <li>
                <span>2012.04.21</span>
                <a href="#">첫번째 글</a>
                <span>7</span>
                </li>
            </ol>
        </div>
    <div class="searchList">
        {% for f in friend_list %}
            {% if f.sender == request.user %}
        <h3>일촌평</h3>
            <form action="{% url 'friendsay' cyuser.pk %}" method="POST">
                {% csrf_token %}
                <div class="friend">
                    <span>일촌평 :</span> 
                    <input style="width: 325px" type="text" placeholder="일촌과 나누싶은 이야기를 남겨보세요~!" name="friend_text"/>
                    <input type="button" name="" value="확인">
                </div>
            </form>
            {% else %}

            {% endif %}
        {% endfor %}

        {% for f in friend_list %}
            {% if f.receiver == request.user %}
            <h3>일촌평</h3>
            <form action="{% url 'friendsay' cyuser.pk %}" method="POST">
                {% csrf_token %}
                <div class="friend">
                    <span>일촌평 :</span> 
                    <input style="width: 305px" type="text" placeholder="일촌과 나누싶은 이야기를 남겨보세요~!" name="friend_text"/>
                    <input type="button" name="" value="확인">
                </div>
            </form>
            {% else %}

            {% endif %}

        {% endfor %}

        {% for friendsay in friendsay %}
        <ol>
            <td>
                <div class="au_date">
                    <span class="author">{{ friendsay.friend_name }}</span>
                    <span id="user_birth">{{ friendsay.updated_at }}</span>
                </div>
                <span>{{ friendsay.friend_say }}</span>
            </td>
            <!--일촌이거나 자신의댓글은 삭제 가능 -->
            {% for f in friend_list %}
                {% if request.user == f.receiver %}
                        <a href="{% url 'comment_delete' friendsay.pk %}">삭제</a>|
                        <a href="#">댓글달기</a>
                {% endif %}
                {% if request.user == f.sender %}
                    <a href="{% url 'comment_delete' friendsay.pk %}">삭제</a>|
                    <a href="#">댓글달기</a>
                {% else %}

                {% endif %}
            {% endfor %}
        </ol>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
