{% extends 'base.html' %}

{% block contents %}
<div id="main">
    <div class="subject">
        <h2><span>50문답</span></h2>
        <span class="date">2020.12.22</span>
        <div class="article">
            <p>1.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>2.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>3.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>4.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>5.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>6.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>7.~~~~~~~?</p>
            <p>A:@@@@</p>
            <p>8.~~~~~~~?</p>
            <p>A:@@@@</p>
        </div>
        <a href="#">수정</a>
{% endblock %}