{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cyworld</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/guest.css' %}">
</head>
<body>
    {{ cyuser.today_fnc }}
        <div id="wrapper">
            <!--헤더-->
            <div id="header">
                    <!--카운트-->
                    <div id="count">
                        <!--투데이-->
                        <div id="today">
                            <img src="{% static 'images/today.gif' %}" />{{cyuser.today}}
                        </div>
                            <img src="{% static 'images/bar.gif' %}" />
                        <!--총계-->
                        <div id="total">
                            <img src="{% static 'images/total.gif' %}" />{{cyuser.total}}
                        </div>
                    </div>
                    <!--타이틀-->  
                    <div id="title">
                        <a href="#"><h1>{{ cyuser.title }}</h1></a>
                        <!--검색-->
                    <div id="searchForm">
                        <form action="{% url 'search' %}" method="GET">
                            <input type="text" name="search_name" placeholder="검색" class="sInput" />
                            <input type="button" type="submit" class="searchSubmit" value="검색" />
                        </form>
                    </div>
                    </div>
            </div>
            <!--컨텐츠-->
            <div id="wrapper1">             
                <div id="left">
                    <!--로고-->
                    {% if cyuser.profile_img %}
                    <div id="cyworld_logo"><img id="logo" src="{{ cyuser.profile_img.url }}"/></div>
                    <!--설명-->
                    {% else %}
                        {% if cyuser.sex == '남' %}
                    <div id="cyworld_logo"><img id="logo" src="{% static 'images/basic_male.jpg' %}"/></div>
                        {% else %}
                    <div id="cyworld_logo"><img id="logo" src="{% static 'images/basic_female.jpg' %}"/></div>
                        {% endif %}
                    {% endif %}

                    <div class="cyworld_desc">
                        {{cyuser.contents}}
                    </div>
                    
                    </br>
                    </br>
                    </br>   
                    <!--admin write 버튼-->
                    <div id="admin_write">
                        <a href="{% url 'tobefriend' cyuser.id %}"><span>일촌신청</span></a>
                    </div>
                    <!--유저 요약-->
                    <div id="user_sum">
                        <div id="user_name_birth">
                            <!--유저 이름-->
                            <div id="user_name">{{ cyuser.full_name }}</div>
                            {% if cyuser.sex == '남' %}
                            <div id="user_birth">(♂)</div>
                            {% else %}
                            <div id="user_birth">(♀)</div>
                            {% endif %}
                            <!--유저 생일-->
                            <div id="user_birth">{{ cyuser.birth }}</div>
                            <!--유저 이메일-->
                        </div>
                        <div id="user_email">{{ cyuser.email }}</div>
                    </div>
                </div>
        <!--메뉴-->
        <div id="tabNav">
        <ul>
            <a href="{% url 'main' %}"><img src="{% static 'images/menu_home_back.png' %}"/>
            <a href="{% url 'profile' %}"><img src="{% static 'images/menu_pro_back.png' %}"/>
            <a href="{% url 'guest_detail' cyuser.pk %}"><img src="{% static 'images/menu_guest_back.png' %}"/>
            <a href="{% url 'diary_detail' cyuser.pk %}"><img src="{% static 'images/menu_diary.png' %}"/>
            <a href="{% url 'picture' %}"><img src="{% static 'images/menu_picture.png' %}"/>
        </ul>
        </div>
            <div id="right">
                <MARQUEE scrollamount="5">프리스타일 - y</MARQUEE>
                <!--<audio id="music" controls="" autoplay="autoplay" source src="{% static 'music/프리스타일 - Y.mp3' %}"></audio> -->
                <div id="category">
                    <h3>카테고리</h3>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                <hr/>
                </div>
                <!--Recent posts-->
                <div id="recentPost">
                    <h3>최근 포스트</h3>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                <hr/>
                </div>
                <!--Bookmarks-->
                <div id="bookmark">
                    <h3>북마크</h3>
                    <ul>
                        <li><a href="#"></a></li>
                    </ul>
                <hr/>
                </div>
            </div>
            {% block content %}
            {% endblock %}
</body>
</html>
